<div class="container" id="login-page">
<h2>Login</h2>

   <form action="/" method="POST">
      <label for="username">
         Email :
      </label>
      <input type="text" name="email" id="username">
      <label for="password">
         Password :
      </label>
      <input type="password" name="password" id="password">
      <input type="submit" value="login" class="button">
      <p class="ali-r">
         <a href="">login-or-signup</a>
      </p>
   </form>

</div>