<div class="container" id="sucess-page">
   <h2 class="text-center">
      Hai {{user}} {{done}} {{completed}}
   </h2>
   {{#if click}}
      <h5 class="text-center"><a href="/">click hear to login</a></h5>
   {{/if}}
</div>